:root {
    --gradient: linear-gradient(to right top, #2c26bc, #263ac1, #264bc5, #2e5ac7, #3b68c7, #3e6ac9, #406dcc, #436fce, #3d66d3, #3b5dd6, #3e52d9, #4646da);
}

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
